<header>
  <div class="container !mx-auto">
    <a href="{{ routes.root_url }}" class="inline-block">
      {%- if settings.logo_image -%}
        <img
          src="{{ settings.logo_image | image_url: width: 62 }}"
          width="62"
          height="40"
          alt="{{ shop.name }}"
        />
      {%- else -%}  
        <h2 class="header__title text-lg font-bold">
          {{ shop.name | link_to: routes.root_url }}
        </h2>
      {%- endif -%}
    </a>
  
    <div class="header__menu">
      {% for link in section.settings.menu.links %}
        {{ link.title | link_to: link.url }}
      {% endfor %}
    </div>
  
    <div class="header__icons">
      {% if shop.customer_accounts_enabled %}
        {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
      {% endif %}
  
      <a href="{{ routes.cart_url }}">
        <sup
          id="cart-item-count"
          class="absolute -top-2 -right-2 w-[22px] h-[22px] text-xs flex items-center
            justify-center rounded-full bg-primary text-white"
        >
          {%- if cart.item_count <=9 -%}
            {{ cart.item_count }}
          {%- else -%}
              9+
          {%- endif -%}
        </sup>
  
        {{ 'icon-cart.svg' | inline_asset_content }}
      </a>
    </div>
  </div>
</header>

{% stylesheet %}
  .shopify-section-group-header-group {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
  }

  header {
    height: 4rem;
    display: flex;
    width: 100%;
    align-items: center;
    > .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
{% endstylesheet %}

<script>
  function throttle(fn, wait) {
    let lastTime = 0;
    return function (...args) {
      const now = Date.now();
      if (now - lastTime >= wait) {
        fn.apply(this, args);
        lastTime = now;
      }
    };
  }

  const handleScroll = throttle(function () {
    const header = document.querySelector('.shopify-section-group-header-group');
    if (!header) return;

    if (window.scrollY >= 70) {
      header.classList.add('bg-background');
    } else {
      header.classList.remove('bg-background');
    }
  }, 100);

  window.addEventListener('scroll', handleScroll);
</script>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
