{%- if section.settings.title_align == 'left' -%}
  {%- assign title_align_class = 'text-left justify-start' -%}
{%- elsif section.settings.title_align == 'center' -%}
  {%- assign title_align_class = 'text-center justify-center' -%}
{%- else -%}
  {%- assign title_align_class = 'text-right justify-end' -%}
{%- endif -%}

{% comment %} Content Width Class {% endcomment %}
{% assign width_class = '' %}
{% if section.settings.content-width == 'full' %}
  {% assign width_class = 'w-full' %}
{% elsif section.settings.content-width == 'contained' %}
  {% assign width_class = 'container' %}
{% endif %}

{% comment %} Section Padding Top Class {% endcomment %}
{%- assign pt_class = '' -%}
{%- if section.settings.padding_top == 'small' -%}
  {%- assign pt_class = 'pt-[20px]' -%}
{%- elsif section.settings.padding_top == 'medium' -%}
  {%- assign pt_class = 'pt-[50px]' -%}
{%- elsif section.settings.padding_top == 'large' -%}
  {%- assign pt_class = 'pt-[75px]' -%}
{%- else -%}
    {%- assign pt_class = 'pt-0' -%}
{%- endif -%}

{% comment %} Section Padding Bottom Class {% endcomment %}
{%- assign pb_class = '' -%}
{%- if section.settings.padding_bottom == 'small' -%}
  {%- assign pb_class = 'pb-[20px]' -%}
{%- elsif section.settings.padding_bottom == 'medium' -%}
  {%- assign pb_class = 'pb-[50px]' -%}
{%- elsif section.settings.padding_bottom == 'large' -%}
  {%- assign pb_class = 'pb-[75px]' -%}
{%- else -%}
    {%- assign pb_class = 'pb-0' -%}
{%- endif -%}

{% comment %} Section Padding Left Class {% endcomment %}
{%- assign pl_class = '' -%}
{%- if section.settings.padding_left == 'small' -%}
  {%- assign pl_class = 'pl-2' -%}
{%- elsif section.settings.padding_left == 'medium' -%}
  {%- assign pl_class = 'pl-6' -%}
{%- elsif section.settings.padding_left == 'large' -%}
  {%- assign pl_class = 'pl-10' -%}
{%- endif -%}

{% comment %} Section Padding Right Class {% endcomment %}
{%- assign pr_class = '' -%}
{%- if section.settings.padding_right == 'small' -%}
  {%- assign pr_class = 'pr-2' -%}
{%- elsif section.settings.padding_right == 'medium' -%}
  {%- assign pr_class = 'pr-6' -%}
{%- elsif section.settings.padding_right == 'large' -%}
  {%- assign pr_class = 'pr-10' -%}
{%- endif -%}

<div
  class="px-4 {{ pt_class }} {{ pb_class }} {{ pl_class }} {{ pr_class }} relative z-9"
  style="background-color: {{ section.settings.background_color }}"
  data-section-id="{{ section.id }}"
>
  <div class="{{ width_class }} !mx-auto">
    <h2 class="text-2xl font-bold !mb-4 {{ title_align_class }}">{{ section.settings.title }}</h2>
    <div
      class="relative group/slider owl-carousel-container owl-testimonial"
      data-mobile-column="{{ section.settings.mobile-column }}"
      data-tablet-column="{{ section.settings.tablet-column }}"
      data-desktop-column="{{ section.settings.desktop-column }}"
    >
      <div class="owl-carousel owl-theme bg-card shadow-lg rounded-md min-h-[300px] flex !py-10">
        {% for testimonial in shop.metafields.custom.testimonials.value %}
          <div class="flex flex-col flex-1 px-8 items-center justify-center text-center">
            {% if testimonial.avatar %}
              <img
                src="{{ testimonial.avatar | image_url: width: 70 }}"
                alt="{{ testimonial.name }}"
                width="70"
                height="70"
                class="rounded-full aspect-square object-cover !mb-2 shadow-lg !w-[70px] !h-[70px]"
                loading="lazy"
              />
            {% else %}
              <img
                src="{{ 'avatar.png' | asset_url }}"
                alt="{{ testimonial.name }}"
                width="70"
                height="70"
                class="rounded-full aspect-square object-cover !mb-2 shadow-lg !w-[70px] !h-[70px]"
                loading="lazy"
              />
            {% endif %}
            <p class="title text-2xl font-bold !mb-4">{{ testimonial.name }}</p>
            <p>
              <span class="star-rating" style="--rating: {{ testimonial.rating }};"></span>
            </p>
            <span class="text-foreground/30 inline-block !mt-4">
              {%- render 'icon-quote-comment', size: 36 -%}
            </span>
            <p class="w-[500px] max-w-full text-lg">"{{ testimonial.quote }}"</p>
          </div>
        {% endfor %}
      </div>

      <button
        aria-label="Previous"
        class="absolute z-1 top-1/2 left-4 -translate-y-1/2 owl-prev bg-black/50 text-white
          rounded-full p-2 hover:bg-black/90 transition-all duration-150 !-ml-2 opacity-0
          group-hover/slider:opacity-100 group-hover/slider:!ml-0"
      >
        {%- render 'icon-big-arrow-left', size: 24 -%}
      </button>

      <button
        aria-label="Next"
        class="absolute z-1 top-1/2 right-4 -translate-y-1/2 owl-next bg-black/50 text-white
          rounded-full p-2 hover:bg-black/90 transition-all duration-200 !-mr-2 opacity-0
          group-hover/slider:opacity-100 group-hover/slider:!mr-0"
      >
        {%- render 'icon-big-arrow-right', size: 24 -%}
      </button>
    </div>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    margin-top: {{ section.settings.margin_top }}px;
  }
</style>

<script>
  function initTestimonialCarousel(sectionEl) {
    const container = sectionEl.querySelector('.owl-testimonial.owl-carousel-container');
    const slider = container?.querySelector('.owl-testimonial .owl-carousel');
    
    if (!container || !slider || slider.children.length === 0) {
      return;
    }

    if (!container || !slider) return;

    const mobileColumn = parseInt(container.dataset.mobileColumn || '1');
    const tabletColumn = parseInt(container.dataset.tabletColumn || '2');
    const desktopColumn = parseInt(container.dataset.desktopColumn || '3');

    const owlTestimonial = $(".owl-testimonial .owl-carousel").owlCarousel({
      loop: true,
      margin: 16,
      responsiveClass: true,
      nav: false,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,
      responsive:{
        0:{
          items: mobileColumn,
        },
        768:{
          items: tabletColumn,
        },
        1000:{
          items: desktopColumn,
        }
      }
    });

    $('.owl-testimonial .owl-next').click(function () {
      owlTestimonial.trigger('next.owl.carousel');
    });

    $('.owl-testimonial .owl-prev').click(function () {
      owlTestimonial.trigger('prev.owl.carousel');
    });
  }

  // Init Owl Carousel on first page load
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('[data-section-id]').forEach(function(sectionEl) {
      initTestimonialCarousel(sectionEl);
    });
  });

  // Init Glider on section load (update settings on theme editor)
  window.addEventListener('shopify:section:load', function(event) {
    const thisSectionEl = event.target.querySelector('[data-section-id]');
    if (thisSectionEl) {
      initTestimonialCarousel(thisSectionEl);
    }
  });
</script>

{% schema %}
  {
    "name": "Testimonial Slider",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Customer Reviews"
      },
      {
        "type": "select",
        "id": "title_align",
        "label": "Title Align",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "center", "label": "Center" },
          { "value": "right", "label": "Right" },
        ],
      },
      {
        "type":"number",
        "id": "margin_top",
        "label": "Margin Top",
        "default": 0,
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding Top",
        "options": [
          { "value": "none", "label": "None" },
          { "value": "small", "label": "Small" },
          { "value": "medium", "label": "Medium" },
          { "value": "large", "label": "Large" },
        ],
        "default": "medium",
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "options": [
          { "value": "none", "label": "None" },
          { "value": "small", "label": "Small" },
          { "value": "medium", "label": "Medium" },
          { "value": "large", "label": "Large" },
        ],
        "default": "medium",
      },
      {
        "type": "select",
        "id": "padding_left",
        "label": "Padding Left",
        "options": [
          { "value": "small", "label": "Small" },
          { "value": "medium", "label": "Medium" },
          { "value": "large", "label": "Large" },
        ],
        "default": "small",
      },
      {
        "type": "select",
        "id": "padding_right",
        "label": "Padding Right",
        "options": [
          { "value": "small", "label": "Small" },
          { "value": "medium", "label": "Medium" },
          { "value": "large", "label": "Large" },
        ],
        "default": "small",
      },
      {
        "type": "select",
        "id": "content-width",
        "label": "Content Width",
        "options": [
          { "value": "full", "label": "Full-width" },
          { "value": "contained", "label": "Contained" },
        ],
        "default": "full"
      },
      {
        "type": "select",
        "id": "mobile-column",
        "label": "Mobile Column Size",
        "options": [
          { "value": "1", "label": "1" },
          { "value": "2", "label": "2" },
        ],
        "default": "1"
      },
      {
        "type": "select",
        "id": "tablet-column",
        "label": "Tablet Column Size",
        "options": [
          { "value": "1", "label": "1" },
          { "value": "2", "label": "2" },
          { "value": "3", "label": "3" },
        ],
        "default": "1"
      },
      {
        "type": "select",
        "id": "desktop-column",
        "label": "Desktop Column Size",
        "options": [
          { "value": "1", "label": "1" },
          { "value": "2", "label": "2" },
          { "value": "3", "label": "3" },
        ],
        "default": "1"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "transparent"
      },
    ],
    "presets": [
      {
        "name": "Testimonial Slider",
        "settings": {
        }
      }
    ]
  }
{% endschema %}